<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="LanguageSection" type="SFlow_WDC.LanguageSettings, SFlow_WDC, Version=2.3.0.84, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <LanguageSection SelectedLanguage="en" LanguagePacks="en" />
</configuration>